* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
}
header {
    background-color: black;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #7a7a7a;
}
nav {
    height: 60px;
}
nav ul {
    width: 1020px;
}
nav li {
    display: inline;
    background-color: black;
    color: #7a7a7a;
    text-transform: uppercase;
    font-family: "Bitter";
    margin: 1em;
}
.selected {
    color: #cfa205;
}
h1 {
    text-transform: uppercase;
    color: #cfa205;
    font-family: "Josefin Sans";
    font-size: 133px;
}
header p {
    text-transform: uppercase;
    color:#cfa205;
    margin-bottom: 1em;
}
#socialbar {
    height: 60px;
    width: 1020px;
    background-color: #e8e8e8;
    line-height: 3.5em;
}
#socialbar li {
    display: inline;
    vertical-align: middle;
}
i {
    margin: 7px;
}
main {
    background-color: white;
    margin-left: 8.5em;
    margin-right: 8.45em;
}
main p {
    color: #7a7a7a;
}
#intro {
    text-align: center;
    margin-left: 3.2em;
    width: 900px;
    height: 90px;
    border-bottom: 1px solid grey;
    padding-top: 4em;
    padding-bottom: 1em;
    font-family: "Bitter";
    font-weight: bold;
}
article {
    width: 260px;
    display: inline-block;
    padding-right: 0.5em;
    padding-left: 3.2em;
    margin-top: 3em;
    font-family: "Bitter";
}
article img {
    width: 260px;
    height: 195px;
}
article h2 {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 18px;
}
article p {
    width: 260px;
    height: 480px;
    font-size: 14px;
    margin-top: 1em;
    font-weight: bold;
}
a:link{
    text-decoration: none;
}
a:visited{
    color: #7a7a7a;
}
form{
    width: 40em;
    margin-left: 10em;
    padding-top: 5em;
    font-family: "Bitter"
}
fieldset{
    margin-top: 1em;
    background-color: #7a7a7a;
    border-radius: 10px
}
legend{
    background-color: #7a7a7a;
}
label{
    display: inline-block;
    width: 15em;
}
#information input,
#fieldmessage input{
    width: 21em;
}
#message{
    margin-left: 2em;
    margin-bottom: 2em;
}
