*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.jpg");
    background-size:cover;
    background-attachment: fixed;
}
header {
    background-color: black;
    width: 1020px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #7a7a7a;
}
nav {
    height: 60px;
}
nav ul {
    width: 1020px;
}
nav li {
    display: inline;
    background-color: black;
    color: #7a7a7a;
    text-transform: uppercase;
    font-family: "Bitter";
    margin: 1em;
}
#home {
    color: #cfa205;
}
h1 {
    text-transform: uppercase;
    color: #cfa205;
    font-family: "Josefin Sans";
    text-align: center;
    font-size: 133px;
}
header p {
    text-transform: uppercase;
    color:#cfa205;
    text-align: center;
    margin-bottom: 1em;
}
#socialbar {
    height: 60px;
    width: 1020px;
    background-color: #e8e8e8;
    line-height: 3.5em;
}
#socialbar li{
    display: inline;
    vertical-align: middle;
}
main {
    background-color: white;
}
main p {
    color: #7a7a7a;
}
#intro {
    text-align: center;
    margin-left: 5em;
    margin-right: 5em;
    width: 900px;
    height: 90px;
}
article {
    width: 1200px;
    height: 675px;
    column-count: 3;
    column-gap: 1em;
}
article img {
    width: 260px;
    height: 195px;
}
article p {
    width: 260px;
    height: 480px;
}
article h4 {

}
