body {
    background-image: url("../images/bg.jpg");
    background-size:cover;
    background-attachment: fixed;

}
nav li{
    width: 1020px;
    height: 60px;
    display: inline;
    background-color: black;
    color: #7a7a7a;
    text-transform: uppercase;
    font-family: Bitter;
    margin-left: 5em;

}
#home{
    color: #cfa205;
}
h1{
    text-transform: uppercase;
    width: 1020px;
    height: 320px;
    color: #cfa205;
    font-family: Josefin Sans;
    text-align: center;
    background-color: black;
    font-size: 133px;
}
#socialbar li{
    background-color: #e8e8e8;
    width: 1020px;
    height: 60px;
    display: inline;
}
header p {
    text-transform: uppercase;
    color:#cfa205;
    text-align: center;
}
main p{
    color: #7a7a7a;
}
article img{
    width: 260px;
    height: 195px;
}
article p{
    width: 260px;
    height: 480px;
}
article h4 {

}
